/* Sora,Roboto,Russo-One Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&family=Sora:wght@100..800&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #8750f7 #2a1454;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
html.lenis {
  overflow-x: hidden;
}
body {
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  font-weight: 400;
  width: 100%;
  overflow-x: hidden;
  background-color: #0f0715;
  color: #ddd;
}
a,
.a {
  text-decoration: none;
  color: inherit;
}
.icon {
  display: inline-block;
  fill: currentColor;
  cursor: pointer;
  color: inherit;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Sora", sans-serif;
  color: inherit;
}
input,
textarea {
  font-family: "Sora", sans-serif;
  color: #fff;
  background-color: #2d3436;
  border: 1px solid #636e72;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  outline: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated.hinge {
  animation-duration: 2s;
}
@-webkit-keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.bounce {
  animation-name: bounce;
}
